* {
  margin: 0;
  padding: 0;
}

:root {
  --footer-height: 50px;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: calc(2*var(--footer-height)) var(--footer-height) 8fr var(--footer-height);
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: 1 / 1 / 2 / 3;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.header > .logo {
  text-align: left;
  display: grid;
  align-items: center;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.menu ul {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.menu {
  display: grid;
  align-items: center;
}

li {
  list-style-type: none;
}

.sidebar {
  display: grid;
  background-color: #FF7755;
  grid-area: 2 / 1 / 4 / 2;
  grid-gap: 50px;
}
.sidebar > * {
  display: grid;
  align-items: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #FF7755;
  display: grid;
  align-items: center;
  grid-area: 2 / 2 / 3 / 3;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.article {
  background-color: #bccbde;
  grid-area: 3 / 2 / 4 / 3;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: 4 / 1 / 5 / 3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}
